<head>
    <!--ICONSOUT CDN-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
<nav>
    <div class="container nav__container">
        <a ><h2 style="color:white">SHOPIFY</h2></a>

        <ul class="nav__menu" style="padding: 0 2.5% 0 2.5%;">
            <li><a routerLink="/home" >Home</a></li>
            <li><a routerLink="/product" >Buy</a></li>
            <li><a routerLink="/sell" >Sell</a></li>
            <li [matMenuTriggerFor]="menu" style="color: white;text-transform: capitalize;">{{name}}</li>
            <mat-menu #menu="matMenu" style="padding: 2%;">
   <!-- <button routerLink="/profile" mat-menu-item><mat-icon>account_circle</mat-icon>User Info</button> -->
              <button (click)="getPurchaseHistory()" routerLink="/profile" mat-menu-item><mat-icon>shop</mat-icon>Purchase Details</button>
              <button (click)="getSellHistory()" routerLink="/profile" mat-menu-item><mat-icon>shopping_basket</mat-icon>Sell Details</button>
              <button (click)="getCartU()" routerLink="/profile" mat-menu-item><mat-icon>add_shopping_cart</mat-icon>Cart</button>
   
            </mat-menu> 
            <li ><a (click)="getCartU()" routerLink="/profile" ><span class="cart-count">{{ cartCount }}</span><mat-icon>shopping_cart</mat-icon></a></li> 
            <li><a (click)="logOut()" routerLink="/home" >Logout</a></li>
        </ul>
        
        <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
        <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>      
    </div>
</nav>

</body>