*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-white:#fff;
    --color-light:rgba(255,255,255,0.7);
    --color-black:#000;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body{
    font-family:'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

/* ==================== NAVBAR ==================*/
nav{
    background: #6600FF;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;    
}

.nav__container{
    padding: 1.5rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

.nav__menu{
    display: flex;
    align-items: center;
    gap:4rem;
    color: white;
}

.nav__menu a{
    font-size: 0.9rem;
    transition: var(--transition);
    color: #fff;
}
.nav__menu a:hover{
    color: rgb(149, 146, 146);
}

footer{
    width: 100vw;
    bottom: 0;
    padding-top: 5rem;
    font-size: 0.9rem;
    color: white;
}
.footer__container{
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8rem;
    background: #6600FF;
}

.footer__container > div h4{
    margin-bottom: 1.2rem;
}

.footer__1 p{
    margin: 0 0 2rem;
}

footer ul li{
    margin-bottom: 0.7rem;
    color: white;
}

footer ul li a:hover{
    text-decoration: underline;
    color: rgb(149, 146, 146);
}

.footer__socials{
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
}

.footer__copyright{
    text-align: center;
    padding: 1.2rem 0;
    border-top: 0.5px solid rgb(137, 137, 137);
    background:#6600FF;
} 
.cart-count {
    
    top: 0;
    right: 10px;
    font-size: 0.8rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
