<div style="background-color:rgb(249, 249, 249); padding-bottom:1%; margin-top:3%">
  <div style="text-align: center; padding-top:5px;">    
   <div style="font-size:25px; padding-left:5%; padding-right:5%; line-height: 40px;">A place to <b style="color:rgb(102, 27, 172)">EXPLORE MARKET</b>, whether are you want to <b style="color:rgb(102, 27, 172)">BUY PRODUCTS</b> or reach towards your customer to <b style="color:rgb(102, 27, 172)">SELL PRODUCTS</b> then, <br> the Best Marketplace is here for You...! <br></div>
  </div><br>
 </div>

<style>

</style>

<div style="margin-top: 2%; margin-bottom: 2%;margin-left:5%; margin-right:auto; height:300px;">
<div class="gallery"style="width: 30%;">

  <img src="./assets/shopping-6.png" alt="Cinque Terre" width="50vh" height="auto">

<div class="desc">Buy Various Awesome Products </div>
</div>

<div class="gallery"style="width: 30%;">

  <img src="./assets/shopping-1.jpg" alt="Forest" width="50%" height="auto" style="z-index:2;">

<div class="desc">An Online Marketplace <br>For YOU</div>
</div>

<div class="gallery"style="width: 30%;">
  <img src="./assets/shopping-3.jpg" alt="Northern Lights" width="50%" height="auto">
<div class="desc">Sell Your Product with Hign Reach</div>
</div>
<br><br>
<br><br>
</div>